.crew{
    background-image: url(../assets/crew/background-crew-mobile.jpg);
    background-size: cover;
}




.grid-container--crew {
 
    --flow-space: 2rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--crew > img {
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl( var(--clr-white) / .1);
}

.grid-container--crew > .dot-indicator {
    grid-area: tabs;
}

.grid-container--crew > .crew-details {
    grid-area: content;
}
.crew-details{
    padding-inline:1rem;
}
.crew-details h2{
    opacity:.5;
}
.bio{
    line-height:2;
}
@media(min-width:35rem){
    .crew{
        background-image: url(../assets/crew/background-crew-tablet.jpg);
    }
}
@media (min-width: 35em) {
    
    
    .numbered-title {
        justify-self: start;
        margin-top: 2rem;
    }
    
    .grid-container--crew {
        padding-bottom: 0;
        grid-template-areas: 
            'title'
            'content'
            'tabs'
            'image';
    }
    .grid-container--crew > img {
        align-self: start;
    }
    
    
}
@media(min-width:45rem){
    .crew{
        background-image: url(../assets/crew/background-crew-desktop.jpg);
    }
}

@media (min-width: 45em) {
  
    
    .grid-container--crew {
        grid-template-areas: 
            '. title title .'
            '. content image .'
            '. tabs image .';
    }
    
    .grid-container--crew > img {
        max-width: 90%;
        
    }
    .grid-container--crew > .dot-indicator {
        justify-self: start;
    }
  

}